[submodule "external/celero"]
	path = external/celero
	url = https://github.com/DigitalInBlue/Celero.git
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
